<header class="section-header">
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="/">
            <img src="../../../../assets/logo.png" alt="">
          </a>
        </div>
        <div class="col-lg-2 col-sm-4 col-4">
        
        </div>
        <div class="col-lg-2 col-sm-4 col-4">
      
        </div>
        
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
            <a href="/auth" class="btn btn-light m-2">
              <i class="fa fa-user"></i> <span class="ms-1 d-none d-sm-inline-block">Sign in </span>
            </a>
            <a data-bs-toggle="offcanvas" href="#offcanvas_wishList" class="btn btn-light m-2">
              <i class="fa fa-heart">
                <span
                  style="position:relative;bottom:15px;right:5px;color:orange;font-size: 15px;">{{whishItem.length}}</span>
              </i>
            </a>
            <a data-bs-toggle="offcanvas" href="#offcanvas_cartItems" class="btn btn-light m-2">
              <i class="fa fa-shopping-cart">
                <span
                  style="position:relative;bottom:15px;right:5px;color:orange;font-size: 15px;">{{cartItems.length}}</span>
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <nav class="navbar navbar-light bg-gray-light navbar-expand-lg"></nav>
  <section class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_cartItems">
    <app-cart-items></app-cart-items>
  </section>
  <section class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_wishList">
    <app-whishlist></app-whishlist>
  </section>
</header>
