<section class="container">
    <mat-horizontal-stepper  #stepper="matHorizontalStepper">
        <mat-step [stepControl]="firstFormGroup" class="container-fluid row">
          <ng-template matStepLabel>Billing Address</ng-template>
          <h6>BILLING ADDRESS</h6>
        </mat-step>



        <mat-step [stepControl]="secondFormGroup" class="container-fluid row">
          <ng-template matStepLabel>Payment Method</ng-template>
          <h6>payments</h6>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
</section>