.ratingView{
    color: coral;
    font-weight: 600;
    font-size: 16px;
}
// .row{
//     width: 100%;
//     margin-left: 20px;
// }
.primary{
    height: 50px;
    margin-bottom: 10px;
    background-color:  #212529;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.star{
    color: coral;
}
.nameView{
    font-size: 17px;
}